.nav{
    display: flex;
    justify-content: space-between;
}

.list{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.list > * {
    cursor: pointer;
}
h1{
    cursor: pointer;
}
.selected{
    font-weight: bold;
}